body {
 margin: 0;
 padding: 0;
}


ul {
 margin: 1px;
 font-size: 30px
}


ul {
 list-style-type: none;
 background-color: #64b1ff;
 display: flex;
 justify-content: center;
 font-family: "Pliant", sans-serif;
 padding: 0;
 margin: 0;
}

ul li a {
 display: block;
 color: #ffffff;
 padding: 5px 30px;
 text-decoration: none;
 border-block-start:10px solid #64b1ff;
 border-right:10px solid #64b1ff;
 border-block-end:10px solid #64b1ff;
 border-left:10px solid #64b1ff;
 margin: 0;
}

ul li a:hover {
 color: #008eff;
}

ul li a.active {
  background-color: #7bbcff;
}



h1 {
font-family: "Pliant", sans-serif;font-size: 50px;
 color: #64d0ff;
 display: flex;
 justify-content: center;
 -webkit-text-stroke: 1px #034f9c;
 text-shadow: 2px 4px 4px #034c97;
 padding: 0;
 margin: 0;
 background-color: #64b1ff;
}

body  {
 background-color: #00d0ff;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-position-y: 100px;
}

.image1 {
  position: absolute;
  top: 135px;
  left: 1600px;
  border: 10px solid #64b1ff;
 opacity: 0.9;
}

.p {
 font-family: "Pliant", sans-serif;
 position: absolute;
 top: 1040px;
 left: 1765px;
 font-size: 19.6px;
 color: white;
 text-shadow: 2px 4px 4px #434343;
 padding: 0px;
}

.image2 {
  position: absolute;
  top: 135px;
  border: 10px solid #64b1ff;
 opacity: 0.9;
}

.p1 {
 font-family: "Pliant", sans-serif;
 position: absolute;
 top: 990px;
 left: 20px;
 font-size: 20px;
 color: white;
 text-shadow: 2px 4px 4px #434343;
}

.heading  {
 font-family: "Pliant", sans-serif;
 color: #64d0ff;
 padding: 0;
 margin: 0;
 background-color: #007dff;
 position: absolute;
 top: 599px;
}

.image3 {
 position: absolute;
 top: 660px;
 left: 690px;
 border: 10px solid #64b1ff;
}

.p2 {
 font-family: "Pliant", sans-serif;
 position: absolute;
 top: 1010px;
 left: 710px;
 font-size: 20px;
 color: white;
 text-shadow: 2px 4px 4px #434343;
}