body {
margin: 0;
padding: 0;
}




ul { /* Font size and space between */
margin: 1px;
font-size: 30px
}




ul { /* Background colour for navigation bar and code to put it in center */
list-style-type: none;
background-color: #64b1ff;
display: flex;
justify-content: center;
font-family: "Pliant", sans-serif;
padding: 0;
margin: 0;
}


ul li a { /* Block for colour */
display: block;
color: #ffffff;
padding: 5px 30px;
text-decoration: none;
border-block-start:10px solid #64b1ff;
border-right:10px solid #64b1ff;
border-block-end:10px solid #64b1ff;
border-left:10px solid #64b1ff;
margin: 0;
}


ul li a:hover { /* Hover effect */
color: #008eff;
}


ul li a.active { /* If your on the page this code highlights the page your on */
 background-color: #7bbcff;
}






h1 { /* Text to edit heading for size, position, shadow, strokes, and hgihlight a colour behind it */
font-family: "Pliant", sans-serif;font-size: 50px;
color: #64d0ff;
display: flex;
justify-content: center;
-webkit-text-stroke: 1px #034f9c;
text-shadow: 2px 4px 4px #034c97;
padding: 0;
margin: 0;
background-color: #64b1ff;
}


body  { /* Background colour */
background-color: #00d0ff;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position-y: 100px;
}


.image1 { /* Image edit for position and border */
 position: absolute;
 top: 135px;
 left: 1150px;
 border: 10px solid #64b1ff;
}


.p { /* code to edit text for size, position, shadow, strokes, and hgihlight a colour behind it */
font-family: "Pliant", sans-serif;
position: absolute;
top: 135px;
left: 705px;
font-size: 20px;
color: white;
text-shadow: 2px 4px 4px #434343;
padding: 0px;
}


.image2 { /* Image edit for position and border */
 position: absolute;
 top: 135px;
 border: 10px solid #64b1ff;
}


.heading  { /* Text to edit heading for size, position, shadow, strokes, and hgihlight a colour behind it */
font-family: "Pliant", sans-serif;
color: #64d0ff;
padding: 0;
margin: 0;
background-color: #007dff;
position: absolute;
top: 575px;
}


.image3 {  /* Image edit for position and border */
 position: absolute;
 top: 640px;
 border: 10px solid #64b1ff;
}


.image4 { /* Image edit for position and border */
 position: absolute;
 top: 640px;
 left: 615px;
 border: 10px solid #64b1ff;
}


.image5 { /* Image edit for position and border */
 position: absolute;
 top: 640px;
 left: 1056px;
 border: 10px solid #64b1ff;
}


