body {
margin: 0;
padding: 0;
}




ul {
margin: 1px;
font-size: 30px
}




ul {
list-style-type: none;
background-color: #64b1ff;
display: flex;
justify-content: center;
font-family: "Pliant", sans-serif;
padding: 0;
margin: 0;
}


ul li a {
display: block;
color: #ffffff;
padding: 5px 30px;
text-decoration: none;
border-block-start:10px solid #64b1ff;
border-right:10px solid #64b1ff;
border-block-end:10px solid #64b1ff;
border-left:10px solid #64b1ff;
margin: 0;
}


ul li a:hover {
color: #008eff;
}


ul li a.active {
 background-color: #7bbcff;
}






h1 {
font-family: "Pliant", sans-serif;font-size: 50px;
color: #64d0ff;
display: flex;
justify-content: center;
-webkit-text-stroke: 1px #034f9c;
text-shadow: 2px 4px 4px #034c97;
padding: 0;
margin: 0;
background-color: #64b1ff;
}


body  {
 background-image: url("image/info.png");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position-y: 0px;
}

.info {
       position: absolute;
top: 177px;
left: 525px;
}

.info1 {
       position: absolute;
top: 177px;
left: 1000px;
}

.info2 {
       position: absolute;
top: 177px;
left: 1473px;
}